<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Frederic Grundt Østby</string>
	<key>Builder Version</key>
	<string>8536.25</string>
	<key>CFBundleDisplayName</key>
	<string>GmailChecker</string>
	<key>CFBundleIdentifier</key>
	<string>com.makoframework.safari.gmailchecker</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.3</string>
	<key>CFBundleVersion</key>
	<string>1.7.3</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>html/bar.html</string>
				<key>Identifier</key>
				<string>hack</string>
				<key>Label</key>
				<string>Gmail Checker</string>
			</dict>
		</array>
		<key>Database Quota</key>
		<real>1048576</real>
		<key>Global Page</key>
		<string>html/global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>gmail</string>
				<key>Identifier</key>
				<string>gmail</string>
				<key>Image</key>
				<string>assets/images/button.png</string>
				<key>Label</key>
				<string>Gmail Checker</string>
				<key>Palette Label</key>
				<string>Gmail Checker</string>
				<key>Popover</key>
				<string>popover</string>
				<key>Tool Tip</key>
				<string>Gmail Checker</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Displays number of unread e-mails in your Gmail inbox</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://makoframework.com/safari/gmailchecker/updates.plist</string>
	<key>Website</key>
	<string>http://makoframework.com/safari/</string>
</dict>
</plist>
