<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>existing_any</string>
		<key>Key</key>
		<string>open_in</string>
		<key>Title</key>
		<string>Open in</string>
		<key>Titles</key>
		<array>
			<string>new tab</string>
			<string>active tab</string>
			<string>existing Gmail tab in active window</string>
			<string>existing Gmail tab in any window</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>new</string>
			<string>active</string>
			<string>existing_active</string>
			<string>existing_any</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>60000</real>
		<key>Key</key>
		<string>interval</string>
		<key>Title</key>
		<string>Check every</string>
		<key>Titles</key>
		<array>
			<string>30 seconds</string>
			<string>minute</string>
			<string>5 minutes</string>
			<string>10 minutes</string>
			<string>15 minutes</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<real>30000</real>
			<real>60000</real>
			<real>300000</real>
			<real>600000</real>
			<real>900000</real>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_popover</string>
		<key>Title</key>
		<string>Enable inbox preview?</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>gravatar</string>
		<key>Title</key>
		<string>Enable globally recognized avatars?</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>yyyy/mm/dd</string>
		<key>Key</key>
		<string>date_format</string>
		<key>Title</key>
		<string>Date format</string>
		<key>Titles</key>
		<array>
			<string>yyyy/mm/dd</string>
			<string>mm/dd/yyyy</string>
			<string>dd/mm/yyyy</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>yyyy/mm/dd</string>
			<string>mm/dd/yyyy</string>
			<string>dd/mm/yyyy</string>
		</array>
	</dict>
	<dict>
		<key>Type</key>
		<string>Separator</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>enable_audio</string>
		<key>Title</key>
		<string>Enable audio notifications?</string>
		<key>Type</key>
		<string>CheckBox</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>five</string>
		<key>Key</key>
		<string>audio_file</string>
		<key>Title</key>
		<string>Pick sound</string>
		<key>Titles</key>
		<array>
			<string>glass</string>
			<string>ping</string>
			<string>submarine</string>
			<string>new message 1</string>
			<string>new message 2</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>one</string>
			<string>two</string>
			<string>three</string>
			<string>four</string>
			<string>five</string>
		</array>
	</dict>
</array>
</plist>
