body
{
	padding: 4px;
	margin: 0px;
	overflow: hidden;
	background-color: #eee;
	color: #444;
	font-family: Arial, Helvetica, "Nimbus Sans", FreeSans, Malayalam, sans-serif;
	text-shadow: 0px 1px 0px #fff;
	cursor: default;
}

a
{
	color: #0350a6;
	text-decoration: none;
}

a:hover
{
	color: #2677df;
}

a:active
{
	color: #444;
}

#signed-in, #signed-out
{
	text-align: center;
}

a.button
{
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	padding:6px 24px;
	text-shadow:1px 1px 0px #333;
	min-width: 90px;
}

a.blue
{
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0));
	background-color:#3d94f6;
	border:1px solid #337fed;
}

a.red
{
	-webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639));
	background-color:#fa665a;
	border:1px solid #d83526;
}

a.green
{
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b));
	background-color:#9dce2c;
	border:1px solid #83c41a;
	min-width: 230px;
}

#inbox
{
	padding: 5px;
	padding-top: 8px;
	padding-bottom: 0px;
}

#inbox ul
{
	margin: 0px;
	padding: 0px;
}

#inbox li
{
	list-style: none;
}

#inbox img.gravatar
{
	float: left;
	border: 1px solid #aaa;
	border-radius:3px;
	margin-right: 8px;
	margin-bottom: 7px;
	width: 48px;
	height: 48px;
}

#inbox span
{
	display: block;
	padding-top: 6px;
}

#inbox span.sender
{
	font-size: 0.8em;
}

#inbox span.date
{
	position:absolute;
	z-index:99;
	right:9px;
	background: #ddd;
	border: 1px solid #ccc;
	border-radius:3px;
	padding: 1px;
	margin-top: 6px;
	font-size: 0.6em;
}

#inbox span.date span.time
{
	display :none;
}

#inbox span.date:hover span.time
{
	display :inline;
}

#inbox hr
{
	height:1px;
	border: 0px;
	background:#ccc;
	border-bottom: 1px solid #fff;
}

#inbox li:last-child hr
{
	display: none;
}